.title {
    color: darkblue;
    text-align: top;
    float: left;
}

ul {
    color: darkblue;
    float: right;
}

.header {
    font-weight: bolder
}

li {
    display: inline;
    padding: 0 10px;
}

.mk {
    position: relative;
    width: 55%;
    height: 80%;
    /* height: 100%；でもどうように動作します*/
    top: 210px;
    left: 380px;
    z-index: 30;
}

.firstview {
    font-size: 60px;
    font-weight: 100;
    text-align: left;
}

.blue-box {
    position: relative;
    width: 955px;
    height: 200px;
    background-color: darkblue;
    top: -55px;
    left: 0px;
}