.ht {
    color: darkblue;
    font-size: 150%;
}

ul {
    color: darkblue;
    text-align: right;
    font-size: 150%;
}

.my {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    padding: 0 10px;
}

main {
    position: relative;
}

.mt {
    margin-top: 510px;
    font-size: 85px;
    font-weight: lighter;
    width: 1000px;
}

.mk {
    position: absolute;
    width: 1000px;
    height: -10px;
    /* height: 100%；でもどうように動作します*/
    top: -420px;
    left: 1000px;
    z-index: 30;
    margin-right: 0;
}

.blue-box {
    position: absolute;
    width: 1500px;
    height: 310px;
    background-color: darkblue;
    top: 100px;
    left: -10px;
}