.ht {
    color: darkblue;
    font-size: 170%;
    float: left;
}

ul {
    color: darkblue;
    text-align: right;
    float: right;
}

.my {
    font-weight: bolder;
}

li {
    display: inline;
    padding: 0 10px;
}
.mt {
    text-align: left;
    font-size: 75px;
    margin-top: -55px;
    font-weight: lighter;
}

.mk {
    position: relative;
    width: 600px;
    height: -10px;
    /* height: 100%；でもどうように動作します*/
    top: 125px;
    left: 460px;
    z-index: 30
}

.blue-box {
    position: relative;
    width: 975px;
    height: 165px;
    background-color: darkblue;
    top: -75px;
    left: -30px;
    margin-right: auto;
}